.mainNav{
  display: none;
  font-size: 30px;
}
.fa-bars{
  font-size: 30px;
  padding: 20px;
  background: none;

}
.fa-times{
  display: none;
  background: none;
  font-size: 30px;
  padding: 20px;
}
