.mainNav a{
  color: #FA2E43;
}
article h1{
  font-size: 40px;
  font-family: 'Righteous', cursive;
  font-weight: bold;
  color: #024C5A;
}
article h2{
  font-size: 20px;
}
article a{
  font-style: italic;
}
article h3{
  font-weight: bold;
}
@media (min-width: 1200px) {

}
@media (min-width: 768px){
  .mainNav{
    display: block;
  }
  .navList{
    display: flex;
    justify-content: space-around;
  }
  .navList li{
    display: inline-block;
    padding: 20px;
  }
  .fa-bars{
    display: none;
  }
  .fa-times{
    display: none;
  }
}
